* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4ebd4;
    height: 100%;
}

.App {
    background-color: #f4ebd4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.error-bg {
    position: absolute;
    margin-left: 25%;
    background-color: rgb(131, 5, 5);
    color: white;
    margin-top: 25%;
    padding: 1em;
    text-align: center;
    border-radius: 1em;
    width: 50%;
    z-index: 10;
}

.home-page {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.search-bar-input {
    display: flex;
    width: 75%;
    height: 2em;
    padding-left: 1em;
}

.search-bar-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.search-bar-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.color-nav{
    background-color: aqua;
}

.body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.container {
    width: auto;
    height: 500px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;

}

a {
    color: rgb(244, 228, 174);
    text-decoration: none;
}

a:hover {
    color: rgb(173, 162, 112);
}

.footer {
    background-color: rgb(54, 0, 16);
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.footer-item {
    background-color: rgb(54, 0, 16);
    color: rgb(244, 228, 174);
    display: flex;
    margin: 1em;
}

.login-container {
    margin: 30px;
    width: auto;
    height: auto;
    border-radius: 50%;
}

.login-btn {
    border: 2px solid rgb(163, 163, 163);
    border-radius: 25px;
    font-size: 35px;
    background-color: #eee;
    color: #333;
    cursor: pointer;
    padding: 13px;

}

.login-btn:hover {
    transform: scale(1.1);
    background-color: rgb(180, 180, 180);
}

.login-info {
    margin: 30px;
}

.login-info p {
    text-align: center;
    padding-top: 5px;
}

.rooms-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.rooms {
    background-color: #c6c6ab;
    position: relative;
    border: #333 solid 2px;
    width: 311px;
    height: fit-content;
    margin: 30px;
    padding: 10px;
}

.arrow {
    cursor: pointer;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.down:hover{
    transform: rotate(45deg) scale(1.2);
    transition: 0.1s ease-in-out;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.up:hover{
    transform: rotate(-135deg) scale(1.2);
    transition: 0.1s ease-in-out;
}

.alarmBtn {
    background-color: rgb(54, 0, 16);
    color: rgb(244, 228, 174);
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    border:#f4ebd4 solid 2px;
    border-radius: 2px;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.nav-links {
    padding-left: 10px;
    color: black;
    text-decoration: none;
    font-size: large;
    color: rgb(244, 228, 174);
}

.h1-brand-nav {
    color: rgb(244, 228, 174);
}

